<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>News</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='./css/profile.css') }}"
      rel="stylesheet"
    />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/profile">Be You</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/planner">Planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/community"
                >Meet people</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/team">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Health News</h1>
          <a class="btn btn-primary js-scroll-trigger" href="#tofeed"
            >Lets go</a
          >
        </div>
      </div>
    </header>
    <section class="projects-section bg-light" id="tofeed">
      {% for i in range(0, 20, 2) %}
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img
            class="img-fluid_cov_news"
            style="float: left"
            src='{{feed[i]["urlToImage"]}}'
            alt=""
          />
          <div class="overlay">
            <div class="Hover-text">
              <a href='{{feed[i]["url"]}}'>{{ feed[i]["title"] }}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            class="img-fluid_cov_news"
            style="float: right"
            src='{{feed[i+1]["urlToImage"]}}'
            alt=""
          />
          <div class="overlay">
            <div class="Hover-text">
              <a href='{{feed[i+1]["url"]}}'>{{ feed[i+1]["title"] }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <footer class="footer bg-black small text-center text-white-50">
      <div class="container">Copyright © HLM 2020</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='./scripts/profile.js') }}"></script>
  </body>
</html>
