<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Manage your life!." />
    <meta name="author" content="Prasannakumaran D, Sai Aashish P" />
    <title>Be You</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='./css/profile.css') }}"
      rel="stylesheet"
    />
  </head>
  <body id="page-top">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Be You</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          You
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#newsfeed">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#planner">Planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#community"
                >Meet people</a
              >
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/team">Our Team</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Cover page-->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Welcome {{name}}</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">The challenge is not to be perfect — it is to be <strong>WHOLE</strong></h2>
          <a class="btn btn-primary js-scroll-trigger" href="#about">Lets go</a>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="mx-auto my-0 text">Know thyself and all will be revealed</h2>
            <br><br>
            <p class="text-white-50">
              You are the best in the world. You matter. You are the one the people need, the world needs !. 
              Tell us more about yourself by clicking 
              <a href="/about"
                > here</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Feed-->
    <section class="projects-section bg-light" id="newsfeed">
      <div class="container">
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img
              class="img-fluid mb-3 mb-lg-0"
              src="{{ url_for('static', filename='./images/newspage.jpg') }}"
              alt=""
            />
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Knowledge is Power</h4>
              <p class="text-black-50 mb-0">
                We share with you the latest health news out from trusted sites.
                To know more click<a href=/news target="blank"> here</a>
              </p>
            </div>
          </div>
        </div>
        {% for i in range(0, (feed | length), 2) %}
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src='{{feed[i]["urlToImage"]}}' alt="" />
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <h4 class="text-white">
                    <a href='{{feed[i]["url"]}}'>{{feed[i]["title"]}}</a>
                   </h4>
                   <p class="mb-0 text-white-50" style="text-align: right;"> - {{feed[i]["author"]}}</p>
                  <p class="mb-0 text-white-50">{{feed[i]["description"]}}</p>
                  
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src='{{feed[i+1]["urlToImage"]}}' alt="" />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-right"
                >
                  <h4 class="text-white">
                    <a href='{{feed[i+1]["url"]}}'>{{feed[i+1]["title"]}}</a>
                  </h4>
                  <p class="mb-0 text-white-50" style="text-align: right;"> - {{feed[i+1]["author"]}}</p>
                  <p class="mb-0 text-white-50">{{feed[i+1]["description"]}}</p>
                  <hr class="d-none d-lg-block mb-0 mr-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </section>
    <!-- My personal Blog -->
    <section class="about-section text-center" id="blog">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="mx-auto my-0 text">Story of my life</h2>
              <p class="text-white-50">
               Life never seems to be the way we want it, but we need 
               to live it in the best way we can. There is no perfect
               life but we can fill it with perfect moments. Grab 
               those moments, they are yours for the 
                  <a href="/blog"
                  >taking</a
                >
              </p>
            </div>
            <img
            class="img-fluid_cov mb-3 mb-lg-0"
            src="{{ url_for('static', filename='./images/blog.jpg') }}"
            alt=""
            style="align-items: center;"
          />
          </div>
        </div>
    </section>
     <!-- Planner-->
     <section class="project-section text-center bg-light"  id="planner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-dark mb-4">What's happening today?</h2>
            <p class="text-white-50">
              To keep the body in good health is a duty, otherwise
              we shall not be able to keep our mind strong and clear.
              So what's the 
              <a href="/planner"
                > menu </a
              >
              today?
            </p>
          </div>
          <img
            class="img-fluid_cov mb-3 mb-lg-0"
            src="{{ url_for('static', filename='./images/planner.jpg') }}"
            alt=""
            style="align-items: center;"
          />
        </div>
      </div>
  </section>
    <!-- Socialize -->
    <section class="about-section text-center" id="community">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="mx-auto my-0 text">Stay connected</h2>
              <p class="text-white-50">
               It is the friends we meet along the way that help us
               appreciate the journey. Meet new people, share your
               opinions and live your best life!.
                <a href="/community"
                  > Get started</a
                > 
              </p>
            </div>
            <img
            class="img-fluid_cov mb-3 mb-lg-0"
            src="{{ url_for('static', filename='./images/social.jpg') }}"
            alt=""
            style="align-items: center;"
          />
          </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">
             Support is giving someone what they ask for, 
             not what you think they need. Tell us what you need !.
            </h2>
            <form class="form-inline d-flex" action="mailto:hlm@gmail.com" method="POST" enctype="multipart/form-data" name="Support">
              <input
                class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
                id="inputEmail"
                type="email"
                placeholder="Enter email address..."
              />
              <button class="btn btn-primary mx-auto" type="submit">
                Support
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Main Office</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                  The happy place, Happy Street, Happy world-1
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                  <a href="#!">hlm@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4" />
                <div class="small text-black-50">+00000 99999</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
      <div class="container">Copyright © HLM 2020</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='./scripts/profile.js') }}"></script>
    
  </body>
</html>


